{% load staticfiles %}<!DOCTYPE html>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load crispy_forms_tags %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Helper Clinical Report{% endblock %}</title>
        <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
        <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/clinical.css' %}">
        <link href="http://fonts.googleapis.com/css?family=Monda|Lobster" rel="stylesheet" type="text/css" >
        <link href="http://fonts.googleapis.com/css?family=Lekton|Roboto" rel="stylesheet" type="text/css" >
        <link href="http://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
    </head>

{% if user.is_authenticated %}
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">

          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <span><img src="/static/whiteutmlogo.png" width="32" height="32" alt=""></span>
              Helper Clinical Report
            </a>
          </div>


          <ul class="nav navbar-nav">

            <li class="active"><a href="/">Home</a></li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="/">Report<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/report/new">New Report</a></li>
                <li><a href="/">Report List</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="/">Client<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/client/new">New Client</a></li>
                <li><a href="/client">Client List</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-user"></span> &nbsp;
                        {{ user.get_username }}
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> &nbsp; Profile</a></li>
                        <li><a href="/logout/?next=/"><span class="glyphicon glyphicon-log-out"></span> &nbsp; Logout</a></li>
                      </ul>
                    </li>
          </ul>
        </div>
      </nav>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </div>
    </body>


    {% else %}


    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>


    {% endif %}

    <footer class="footer">
      <nav>
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="/">Contact</a></li>
          <li>&nbsp;</li>
        </ul>
      </nav>
    </footer>
</html>
