{% extends "clinical/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
<div id="loginErrorMsg" class="alert alert-error hide">Wrong username og password</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% endif %}
{% endif %}
<div class="row">
    <div class="col-xs-8 jumbotron">
      <h1>Papillon</h1>
      <p>An app for counselors and therapists
    </div>
    <div class="col-xs-4">
        <div class="well">
          <h2>Login to Your Account</h2><br>
          <form method="post" action="{% url 'login' %}">
          {% csrf_token %}

          <div class="form-group">
            <p>{{ form.username.label_tag }}</p>
            <p>{{ form.username }}</p>
          </div>
          <div class="form-group">
            <p>{{ form.password.label_tag }}</p>
            <p>{{ form.password }}</p>
          </div>

          <div class="checkbox">
              <label>
                  <input type="checkbox" name="remember" id="remember"> Remember login
              </label>
          </div>

          <div>
            <button type="submit" value="login" class="btn btn-success btn-block">Login</button>
            <input type="hidden" name="next" value="{{ next }}" />
          </div>
          </form>
          {# Assumes you setup the password_reset view in your URLconf #}
          <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
        </div>
    </div>
    <span><img src="/static/helpinghand.jpg" width="100%" height="100%" alt=""></span>
</div>


{% endblock %}
