{% extends 'clinical/base.html' %}

{% block title %}auth/signin.html{% endblock %}

{% block javascript %}
  <script>
    $(function () {
      $('#id_username').focus();
    });
  </script>
{% endblock %}

{% block content %}

    <body>
      <div class="wrapper">
        <div class="row cover">

          <div class="col-md-1">
          </div>

          <div class="col-md-6">
            <div class="jumbotron"> MyClinica</div>
            <p class="lead">
              Performing a systematic analysis of clients under counsellling.
              <strong>MyClic</strong> will help you record interviews, analyze hours spent and simplify your reports.</p>
          </div>

          <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sign in</h3>
        </div>
        <div class="panel-body">
          <form method="post" action=".">
            {% csrf_token %}
            <div class="form-group">
              <label class="control-label" for="id_username">Username:</label>
              <input class="form-control" type="text" id="id_username" name="username">
            </div>
            <div class="form-group">
              <label class="control-label" for="id_password">Password:</label>
              <input class="form-control" type="password" id="id_password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
            <a href="" class="btn btn-link">Forgot your password?</a>
          </form>
        </div>
      </div>
    </div>
        </div>
      </div>
{% endblock content %}
