{% extends 'clinical/base.html' %}

{% block content %}
<div class="page-header">
  <h1>About Solace</h1>
</div>
Info about the app and the app developer.
</br>
<span><img src="/static/helpinghand.jpg" width="640" height="392" alt=""></span>
{% endblock %}
