{% extends 'clinical/base.html' %}

{% block content %}
<div class="page-header">
  <h1>Contact</h1>
</div>
Some info about the owner of this app.
</br>
<span><img src="/static/helpinghand.jpg" width="640" height="392" alt=""></span>
{% endblock %}
