{% extends 'clinical/base.html' %}

{% block content %}
<div class="page-header">
  <h1>Help on Solace</h1>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="fiz-tab" data-toggle="tab" href="#fiz" role="tab" aria-controls="home" aria-selected="true">FIZ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="kew-tab" data-toggle="tab" href="#kew" role="tab" aria-controls="profile" aria-selected="false">KEW</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="sos-tab" data-toggle="tab" href="#sos" role="tab" aria-controls="contact" aria-selected="false">SOS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="psi-tab" data-toggle="tab" href="#psi" role="tab" aria-controls="contact" aria-selected="false">PSI</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="psi-tab" data-toggle="tab" href="#emo" role="tab" aria-controls="contact" aria-selected="false">EMO</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="psi-tab" data-toggle="tab" href="#rem" role="tab" aria-controls="contact" aria-selected="false">REM</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="psi-tab" data-toggle="tab" href="#rtk" role="tab" aria-controls="contact" aria-selected="false">RTK</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="psi-tab" data-toggle="tab" href="#mor" role="tab" aria-controls="contact" aria-selected="false">MOR</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="psi-tab" data-toggle="tab" href="#aka" role="tab" aria-controls="contact" aria-selected="false">AKA</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="psi-tab" data-toggle="tab" href="#ker" role="tab" aria-controls="contact" aria-selected="false">KER</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="psi-tab" data-toggle="tab" href="#kur" role="tab" aria-controls="contact" aria-selected="false">KUR</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="fiz" role="tabpanel" aria-labelledby="fiz-tab">
    <h4>FIZ: Masalah kesihatan dan pertumbuhan jasmani</h4>
    <table class="table table-bordered table-condensed">
      <thead>
        <th>Kod</th>
        <th>Masalah</th>
      </thead>
      <tbody>
        <tr><td>101</td><td>Mudah berasa penat sepanjang masa
        <tr><td>102</td><td>Kurang bersenam
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="kew" role="tabpanel" aria-labelledby="kew-tab">
    <h4>KEW: Masalah kewangan, keadaan kehidupan dan pekerjaan</h4>
    <table class="table table-bordered table-condensed">
      <thead>
        <th>Kod</th>
        <th>Masalah</th>
      </thead>
      <tbody>
        <tr><td>201</td><td>Terlalu sedikit wang untuk membeli pakaian
        <tr><td>202</td><td>Terima terlalu sedikit bantuan daripada keluarga
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="sos" role="tabpanel" aria-labelledby="sos-tab">
    <h4>SOS: Masalah kegiatan sosial dan rekreasi</h4>
    <table class="table table-bordered table-condensed">
      <thead>
        <th>Kod</th>
        <th>Masalah</th>
      </thead>
      <tbody>
        <tr><td>301</td><td>Menjadi penakut dan pemalu
        <tr><td>302</td><td>Terlalu mudah menjadi pemalu
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="psi" role="tabpanel" aria-labelledby="psi-tab">
    <h4>PSI: Masalah kegiatan sosial dan rekreasi</h4>
    <table class="table table-bordered table-condensed">
      <thead>
        <th>Kod</th>
        <th>Masalah</th>
      </thead>
      <tbody>
        <tr><td>401</td><td>Tidak cukup masa untuk beriadah
        <tr><td>402</td><td>Terlalu sedikit peluang untuk bersukan
      </tbody>
    </table>
  </div>


  <div class="tab-pane fade" id="emo" role="tabpanel" aria-labelledby="emo-tab">
      <h4>EMO: Masalah Perhubungan Peribadi dan Psikologi</h4>
      <table class="table table-bordered table-condensed">
        <thead>
          <th>Kod</th>
          <th>Masalah</th>
        </thead>
        <tbody>
          <tr><td>501</td><td>Memikir sesuatu perkara terlalu serius
          <tr><td>502</td><td>Merasa risau tentang perkara tidak penting
        </tbody>
      </table>
  </div>


  <div class="tab-pane fade" id="rem" role="tabpanel" aria-labelledby="rem-tab">
        <h4>REM: Masalah Pergaulan Muda-Mudi, Perkahwinan dan Seks</h4>
        <table class="table table-bordered table-condensed">
          <thead>
            <th>Kod</th>
            <th>Masalah</th>
          </thead>
          <tbody>
            <tr><td>601</td><td>Terlalu sedikit dating
            <tr><td>602</td><td>Tidak menemui sesorang yg disukai untuk berdating
          </tbody>
        </table>
      </div>


  <div class="tab-pane fade" id="rtk" role="tabpanel" aria-labelledby="rtk-tab">
    <h4>RTK: Masalah Rumahtangga dan Kekeluargaan</h4>
    <table class="table table-bordered table-condensed">
      <thead>
        <th>Kod</th>
        <th>Masalah</th>
      </thead>
      <tbody>
        <tr><td>701</td><td>Ibubapa terlalu berkorban untuk saya
        <tr><td>702</td><td>Risau tentang salah seorang ahli dalam keluarga
      </tbody>
    </table>
  </div>


  <div class="tab-pane fade" id="mor" role="tabpanel" aria-labelledby="mor-tab">
    <h4>MOR: Masalah moral dan agama</h4>
    <table class="table table-bordered table-condensed">
      <thead>
        <th>Kod</th>
        <th>Masalah</th>
      </thead>
      <tbody>
        <tr><td>801</td><td>Kurang pergi ke tempat ibadat
        <tr><td>802</td><td>Memerlukan falsafah dalam kehidupan
      </tbody>
    </table>
  </div >


  <div class="tab-pane fade" id="aka" role="tabpanel" aria-labelledby="aka-tab">
    <h4>AKA: Masalah Penyesuaian Terhadap Kerja dalam Bilik Kuliah</h4>
    <table class="table table-bordered table-condensed">
      <thead>
        <th>Kod</th>
        <th>Masalah</th>
      </thead>
      <tbody>
        <tr><td>901</td><td>Mudah diganggu semasa melakukan kerja
        <tr><td>902</td><td>Tidak merancang kerja akan datang
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="ker" role="tabpanel" aria-labelledby="ker-tab">
    <h4>KER: Masalah Penyusaian dan Kerjaya Masa Depan</h4>
    <table class="table table-bordered table-condensed">
      <thead>
        <th>Kod</th>
        <th>Masalah</th>
      </thead>
      <tbody>
        <tr><td>1001</td><td>Merasa penat kerana menunda dalam memulakan kerja
        <tr><td>1002</td><td>Ingin pengalaman sambilan dalam bidang saya
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="kur" role="tabpanel" aria-labelledby="kur-tab">
    <h4>KUR: Masalah Kurikulum dan Kaedah Pengajaran</h4>
    <table class="table table-bordered table-condensed">
      <thead>
        <th>Kod</th>
        <th>Masalah</th>
      </thead>
      <tbody>
        <tr><td>1101</td><td>Sukar dapat buku yang diperlukan
        <tr><td>1102</td><td>Kampus tidak ambil berat keperluan pelajar
      </tbody>
    </table>
  </div>

</div>
{% endblock %}
