{% extends 'clinical/base.html' %}

{% block content %}
<div class="page-header">
  <h1>My Profile</h1>
</div>
User can change public profile here
</br>
<span><img src="/static/helpinghand.jpg" width="640" height="392" alt=""></span>
{% endblock %}
