{% extends 'clinical/base.html' %}

{% block content %}
<div class="page-header">
  <h1>Settings</h1>
</div>
<div class="table-responsive">
  <table class="table table-hover table-striped ">
    <thead>
      <tr>
        <th align="right" colspan="2">Details for user {{ user }}
      </tr>
    </thead>
    <tbody>
        <tr><td align="right" width="150"><strong>ID</strong></td><td> {{ user.pk }}</td>
        <tr><td align="right"><strong>First Name</strong></td><td> {{ user.first_name }}</td>
        <tr><td align="right"><strong>Last Name</strong></td><td> {{ user.last_name }}</td>
        <tr><td align="right"><strong>Username</strong></td><td> {{ user.username }}</td>
        <tr><td align="right"><strong>Staff</strong></td><td> {% if user.is_staff %}Yes{%else%}No{%endif%}</td>
        <tr><td align="right"><strong>Superuser</strong></td><td> {% if user.is_superuser %}Yes{%else%}No{%endif%}</td>
        <tr><td align="right"><strong>Last Login</strong></td><td> {{ user.last_login }}</td>
        <tr><td align="right"><strong>Date Joined</strong></td><td> {{ user.date_joined }}</td>
      </tbody>
    </table>
</div>

{% endblock %}
