{% extends 'clinical/base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Clients List</h1>
    </div>
    <div class="col align-self-center">
      <a href="/client/create/">
        <button class="btn btn-primary navbar-btn pull-right">New</button>
      </a>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover table-striped ">
    <thead class="thead-dark">
      <tr>
      <th> Nama </th>
      <th> Kolej </th>
      <th> Fakulti </th>
      <th> Email </th>
      <th> Cases </th>
      <th align="center"> Action </th>
    </tr></thead>
    <tbody>
      {% for client in clients %}
      <tr>
        <td>{{ client.name }}</td>
        <td>{{ client.kolej }}</td>
        <td>{{ client.fakulti }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.num_cases }}</td>
        <td align="center"><a href="{% url 'client_detail' pk=client.pk %}" title="View selected report">Detail</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="alert alert-info" role="alert">
    Total clients: {{ clients|length }}
  </div>
{% endblock %}
