{% extends 'clinical/base.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}


{% block title %}
    Formset
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Client Edit</h1>
</div>
  <fieldset>
    <form method="POST">
        {% csrf_token %}
        {% crispy form %}
    </form>
  </fieldset>
{% endblock %}
