{% extends 'clinical/base.html' %}


{% block title %}
    Formset
{% endblock %}


{% block content %}
    <h2>Edit Client</h2>
    <form method="POST" class="post-form">

        {% csrf_token %}

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="name">Name:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="name" placeholder="Nama">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="nric">No. Kad Pengenalan:</label>
          <div class="col-sm-4">
              <input type="number" class="form-control" id="nric" placeholder="33">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="kolej">Kolej:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="kolej" placeholder="Kolej">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="kursus">Kursus:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="kursus" placeholder="Kursus">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="email">Email:</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-offset-4 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
{% endblock %}
