{% extends 'clinical/base.html' %}

{% block content %}

<div class="page-header">
  <h1>Client Details</h1>
</div>

<div class="table-responsive">
  <table class="table table-hover table-striped ">
    <thead>
      <tr>
        <th align="right" colspan="2">(Only admin can edit)
      </tr>
    </thead>
    <tbody>
        <tr><td align="right" width="150"><strong>Name</strong></td><td> {{ client.name }}</td>
        <tr><td align="right"><strong>ID</strong></td><td> {{ client.pk }}</td>
        <tr><td align="right"><strong>No KP</strong></td><td> {{ client.nric }}</td>
        <tr><td align="right"><strong>Kolej</strong></td><td> {{ client.kolej }}</td>
        <tr><td align="right"><strong>Fakulti</strong></td><td> {{ client.fakulti }}</td>
        <tr><td align="right"><strong>Email</strong></td><td> {{ client.email }}</td>
        <tr><td align="right"><strong>Cases</strong></td><td> {{ client.num_cases }}</td>
      </tbody>
    </table>
</div>
<div class="col-md-offset-11 col-md-1">
  <a href="/clients/"><button type="button" class="btn btn-primary">Back</button></a>
</div>

{% endblock %}
