{% extends 'clinical/base.html' %}

{% block content %}
<div class="page-header">
  <h1>Personal Statistics</h1>
</div>

  <h2>Contact Hours</h2>
    <table class="table table-bordered">
      <thead class="thead-inverse">
        <tr>
          {% for key,value in contact_hours.items %}
          <th style="text-align:center">{{ key }} </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for key,value in contact_hours.items %}
          <td  style="text-align:center">{{ value }} </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>

    <h2>Number of Cases</h2>
    <table class="table table-bordered">
      <thead class="thead-inverse">
        <tr>
          {% for key,value in contact_hours.items %}
          <th style="text-align:center">{{ key }} </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for key,value in contact_hours.items %}
          <td  style="text-align:center">{{ value }} </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>

{% endblock %}
