{% extends 'clinical/base.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}


{% block title %}
    Formset
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Editing Report for kaunselor {{user}}</h1>
</div>


  <fieldset class="module aligned ">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <div>
          <input class="btn btn-primary" type="submit" value="Save"  />
        </div>
    </form>
  </fieldset>
{% endblock %}
