{% extends 'clinical/base.html' %}

{% block content %}

<div class="page-header">
  <h1>Report Details</h1>
</div>


    <nav class="navbar">
      <div class="container-fluid">
        <a href="{% url 'report_delete' pk=report.pk %}" >
          <button class="btn btn-danger navbar-btn">Delete</button>
        </a>
        <a href="{% url 'report_edit' pk=report.pk %}" >
          <button class="btn btn-warning navbar-btn">Edit</button>
        </a>
        <a href="/reports/">
          <button class="btn btn-primary navbar-btn pull-right">Back</button>
        </a>
      </div>
    </nav>

<div class="table-responsive">
  <table class="table table-hover table-striped ">
    <thead>
      <tr>
        <th align="right" colspan="2">Session ID: {{ report.pk }}
      </tr>
    </thead>
    <tbody>
        <tr><td align="right" width="150"><strong>Klien</strong></td><td> {{ report.client }}</td>
        <tr><td align="right"><strong>Kaunselor</strong></td><td> {{ report.author }}</td>
        <tr><td align="right"><strong>Tarikh</strong></td><td> {{ report.date|date:"d F y" }}</td>
        <tr><td align="right"><strong>Hari</strong></td><td> {{ report.hari }}</td>
        <tr><td align="right"><strong>Minggu</strong></td><td> {{ report.woy }}</td>
        <tr><td align="right"><strong>Time in</strong></td><td> {{ report.time_in|time:"H:i" }}</td>
        <tr><td align="right"><strong>Time out</strong></td><td> {{ report.time_out|time:"H:i"  }}</td>
        <tr><td align="right"><strong>Duration</strong></td><td> {{ report.duration|time:"H:i"  }}</td>
        <tr><td align="right"><strong>Problem Category</strong></td><td> {{ report.category }}</td>
        <tr><td align="right"><strong>Problem Code</strong></td><td> {{ report.problem_code }}</td>
        <tr><td align="right"><strong>Problem</strong></td><td> {{ problem }}</td>
        <tr><td align="right"><strong>Summary</strong></td><td> {{ report.summary }}</td>
        <tr><td align="right"><strong>Goal A</strong></td><td> {{ report.goal_a }}</td>
        <tr><td align="right"><strong>Goal B</strong></td><td> {{ report.goal_b }}</td>
        <tr><td align="right"><strong>Goal C</strong></td><td> {{ report.goal_c }}</td>
        <tr><td align="right"><strong>Diagnosis</strong></td><td> {{ report.diagnosis }}</td>
      </tbody>
      </table>
    </div>



{% endblock %}
