{% extends 'clinical/base.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}


{% block title %}
    Formset
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>New Report for kaunselor {{user}}</h1>
</div>


<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Create" />
</form>

{% endblock %}
