{% extends 'clinical/base.html' %}

{% block content %}


  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Reports for {{user}}</h1>
      </div>
      <div class="col align-self-center">
        <a href="/report/new/">
          <button class="btn btn-primary navbar-btn pull-right">New</button>
        </a>
      </div>
    </div>

<div class="table-responsive">
  <table class="table table-hover table-striped ">
    <thead class="thead-dark">
      <tr>
        <th>Klien </th>
        <th>Tarikh</th>
        <th>Mula</th>
        <th align="center">Masalah</th>
        <th>Ringkasan</th>
        <th align="center">ID</th>
        <th align="center">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for report in reports %}
      <tr>
      <td>{{ report.client }}</td>
      <td>{{ report.date|date:"d/n/y" }}</td>
      <td>{{ report.time_in|time:"H:i" }}</td>
      <td align="center">{{ report.problem_code }}</td>
      <td>{{ report.summary }}</td>
      <td align="center">{{ report.pk }}</td>
      <td align="center"><a href="{% url 'report_detail' pk=report.pk %}" title="View selected report">Detail</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="alert alert-info" role="alert">
    Total reports: {{ reports|length }}
  </div>

</div>


{% endblock %}
