{% extends 'clinical/base.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}


{% block title %}
    Formset
{% endblock %}

{% block content %}
<div class="page-header">
  <h2>New Report</h2>
</div>
  <fieldset>
    <form method="POST" class="post-form">
        {% csrf_token %}

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="date">Client:</label>
          <div class="col-sm-4">
              <select name="id_client" class="custom-select" id="id_client">

                <option value="1" selected>Persimmon Smith</option>
                <option value="2">Alpha Cat</option>
                <option value="3">Mesut Ozil</option>
                <option value="4">Kareem Abdul</option>

              </select>

              {% for radio in report.client %}
              <div class="myradio">
                  {{ radio }}
              </div>
              {% endfor %}

            </div>
          </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="date">Date:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="date" placeholder="{% now "m/d/y" %}">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="time_in">Time in:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="time_in" placeholder="{% now "H:i" %}">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="time_out">Time out:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="time_out" placeholder="{% now "H:i" %}">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="summary">Summary:</label>
          <div class="col-sm-6">
            <textarea class="form-control" name="summary" rows="5" placeholder="Summary of problem"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="goal_a">Goal A:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="goal_b" placeholder="Affective">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="goal_b">Goal B:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="goal_a" placeholder="Behavioral">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="goal_c">Goal C:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="goal_c" placeholder="Cognition">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="diagnosis">Diagnosis:</label>
          <div class="col-sm-6">
            <textarea class="form-control" name="diagnosis" rows="3" placeholder="Summary of problem"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-offset-4 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>

      <div> &nbsp;</div>

    </form>
  </fieldset>
{% endblock %}
