{% extends 'clinical/base.html' %}

{% block content %}

<div class="page-header">
  <h1>New Report for kaunselor {{user}}</h1>
</div>


    <form method="POST">
        {% csrf_token %}
        <table>
        {{form.as_table}}
        </table>
        <input type="submit" value="Submit" />
    </form>

{% endblock %}
