{% extends 'clinical/base.html' %}
{% load bootstrap3 %}
{{ form.media }}

{% block title %}
    Formset
{% endblock %}

{% block content %}
<h2>New Report</h2>
  <fieldset>
    <form method="POST" class="post-form">
        {% csrf_token %}

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="id_client">Client:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="id_client" placeholder="Client ID">
          </div>
        </div>


        <div id="div_id_client" class="control-group">
          <label for="id_client" class="control-label requiredField">Client </label>
           <div class="controls">
              <select name="client" class="select" id="id_client">
                <option value="1" selected>Persimmon Smith</option>
                <option value="2">Alpha Cat</option>
                <option value="3">Mesut Ozil</option>
                <option value="4">Kareem Abdul</option>
              </select>
            </div>
          </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="date">Date:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="date" placeholder="{% now "m/d/y" %}">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="time_in">Time in:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="time_in" placeholder="{% now "H:i" %}">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="time_out">Time out:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="time_out" placeholder="{% now "H:i" %}">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="summary">Summary:</label>
          <div class="col-sm-6">
            <textarea class="form-control" name="summary" rows="5" placeholder="Summary of problem"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="goal_a">Goal A:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="goal_b" placeholder="Affective">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="goal_b">Goal B:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="goal_a" placeholder="Behavioral">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="goal_c">Goal C:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="goal_c" placeholder="Cognition">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2 text-right" for="diagnosis">Diagnosis:</label>
          <div class="col-sm-6">
            <textarea class="form-control" name="diagnosis" rows="3" placeholder="Summary of problem"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-offset-4 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>

      <div> &nbsp;</div>

    </form>
  </fieldset>
{% endblock %}
