{% extends 'clinical/base.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block content %}

<div class="page-header">
  <h1>Delete Report</h1>
</div>

<p>Are you sure you want to delete the report for client
  <strong> {{report.client }} </strong>
  dated
  <strong> {{ report.date}} </strong>? </p>
    <div class="form-row">
      <form action="" method="POST">
          {% csrf_token %}
          <input type="submit" class="btn btn-danger" value="Yes, delete." />
        </form>
        &nbsp;
        <a href="/reports/">
          <button action="/reports/" class="btn btn-success navbar-btn pull-right">Cancel</button>
        </a>
      </form>
    </div>
{% endblock %}
