{% extends 'clinical/base.html' %}

{% block content %}
  <div class="page-header">
    <h1>System Statistics</h1>
  </div>

  <div class="table-responsive col-md-6">
    <table class="table table-hover table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for key,value in stats.items %}
        <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
