

html, body {
  height: 100%;
}

h1 {
    font-family: 'Monda', Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 46px;
    font-size: 40px;
    margin: 0 0 23px 0;
   }

h2 {
    font-family: 'Abel', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 23px 0;
    background-color: #dddddd;
    color: #000000;
    margin-top: 0;
    padding: 10px 10px 10px 10px;
    }

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0 0 23px 0;
  }

body {
    padding-left: 15px;
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.navbar-inverse .navbar-header .navbar-brand {
        color: #f0ad4e;
    }

.navbar-primary {
            color: #600000;
    }

.navbar-nav > li > a {padding-top:20px !important; padding-bottom:20px !important;}


.content {
    margin-left: 40px;
}


.date {
    color: #828282;
    float: right;
}

.save {
    float: right;
}

.report-form textarea {
    width: 100%;
    height: 150px;
}

.report-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.report {
    margin-bottom: 70px;
}

.report h1 a, .report h1 a:visited {
    color: #000000;
}

th {
    background-color: #001f3f;
    color: #ffffff;
    height: 20px;
}

fieldset {
    display: table;
}
fieldset p {
    display: table-row;
}
fieldset input,  fieldset select, fieldset label {
    display: table-cell;
    margin: 3px;
}

table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

thead th {
  background-color: brown;
  color: white;
}

tbody td {
  background-color: #EEEEEE;
  vertical-align: middle;
}

tr td:first-child,
tr th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

footer {
  font-family: 'Lobster', cursive;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #aaa;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

.push {
  height: 50px;
}

header .navbar {
  margin-bottom: 0;
  border-radius: 0;
}

header .navbar .username-divider {
  border-right: 1px solid #ccc;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.masthead {
  background-color: #fafafa;
  border-bottom: 1px solid #e7e7e7;
  text-align: center;
  color: #777;
  padding: 70px 0;
}

.masthead h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Merriweather', serif;
  font-size: 42px;
}

.masthead p {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}

main {
  margin-top: 20px;
}

footer {
  border-top: 1px solid #E7E7E7;
  height: 50px;
  background-color: #fff;
}

footer .legal {
  padding-top: 14px;
}

footer ul li {
  display: inline;
  margin-right: 15px;
}

footer .social {
  padding-top: 10px;
  font-size: 20px;
  text-align: right;
}

footer .social a {
  color: #777;
  margin-left: 10px;
  transition: all 0.2s ease 0s;
}

footer .social a:hover {
  color: #333;
}
