
html, body {
  height: 100%;
  font-family: "Droid Sans";
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

h1 {
    font-family:  "Acme";
    font-weight: normal;
    line-height: 46px;
    font-size: 30px;
    margin: 20px 0 23px 0;
   }

.push {
  height: 50px;
}

header .navbar {
  margin-bottom: 0;
  border-radius: 0;
}

header .navbar .username-divider {
  border-right: 1px solid #ccc;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  border-top: 1px solid #ddd;
  height: 40px;
  font-size: 12px;
  background-color: #eee;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .legal {
  padding-top: 12px;
}

footer ul li {
  display: inline;
  margin-right: 15px;
}

footer .social {
  padding-top: 12px;
  text-align: right;
}

footer .social a {
  color: #777;
  margin-left: 10px;
  transition: all 0.2s ease 0s;
}

footer .social a:hover {
  color: #333;
}

.no-scroll {
  overflow: hidden;
}

.page-loading {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9000;
  display: none;
}

.page-loading .spinner {
  width: 70px;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -35px;
  position: fixed;
  text-align: center;
  z-index: 9001;
}

.page-loading .spinner > div {
  width: 18px;
  height: 18px;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.page-loading .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.page-loading .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}


.block-spinner {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

.spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}


.not-allowed {
  cursor: not-allowed;
}

/* Parsifal cover */

.cover {
  padding-top: 60px;
  padding-bottom: 80px;
}

.cover h1 {
  font-size: 64px;
  margin-bottom: 30px;
}

section.features {
  background-color: #e7e7e7;
  text-align: center;
}

section.features article {
  padding: 20px 0;
  border-bottom: 1px solid #f8f8f8;
}

section.features article:last-child {
  border-bottom: none;
}

section.features article span.glyphicon {
  font-size: 44px;
  color: #ccc;
  margin: 10px 0;
}

/* Parsifal reviews app */

.review-title {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.42857;
}

.review-title span.text-muted {
  font-weight: normal;
}

.review-title-user {
  font-weight: 300;
}

ul.review-menu {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid #C2C2C2;
  background: #F5F5F5;
  border-radius: 5px;
  background: -moz-linear-gradient(top, #F5F5F5 0%, #D9D9D9 100%);
  background: -webkit-linear-gradient(top, #F5F5F5 0%, #D9D9D9 100%);
  background: -o-linear-gradient(top, #F5F5F5 0%, #D9D9D9 100%);
  font-size: 0;
}

ul.review-menu li {
  display: inline-block;
  list-style: none;
  padding: 0;
  font-size: 14px;
  border-bottom: 3px solid #CCCCCC;
  border-right: 1px solid #C2C2C2;
}

ul.review-menu li:first-child {
  border-bottom-left-radius: 5px;
}

ul.review-menu li a {
  display: block;
  padding: .8em 1.6em;
  font-weight: 600;
  color: #3A3D40;
}

ul.review-menu li a:hover {
  text-decoration: none;
}

ul.review-menu li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

ul.review-menu li:hover {
  background: #F5F5F5;
}

ul.review-menu li.active {
  background: #F5F5F5;
  color: #666B71;
  border-bottom: 3px solid #AC4539;
}


.btn-ajax-loading, .btn-ajax-error, .btn-ajax-complete {
  display: none;
}

.data-extraction-panel .form-group:last-child {
  margin-bottom: 0;
}

/* Bootstrap overrides */

.navbar-default .navbar-brand {
  font-family: 'Lobster', cursive;
  font-weight: 400;
  font-size: 2.4em;
}

.page-header {
  margin-top: 0;
}

.nav-tabs {
  margin-bottom: 20px;
}

.table-hover tbody tr td {
  cursor: pointer;
}

/* Bootstrap extension */

table.table-v-align-middle thead tr th,
table.table-v-align-middle tbody tr td {
  vertical-align: middle;
}

/* Table sorter overrides */
th.header {
  cursor: pointer;
}

th.header:after {
  font-family: "Glyphicons Halflings";
  float: right;
  content: "\e150";
  font-weight: 300;
}

th.headerSortDown:after {
  font-family: "Glyphicons Halflings";
  float: right;
  content: "\e155";
  font-weight: 300;
}

th.headerSortUp:after {
  font-family: "Glyphicons Halflings";
  float: right;
  content: "\e156";
  font-weight: 300;
}

select optgroup {
  font-family: inherit;
  font-size: inherit;
  margin-left: 4px;
}

.announcement {
  background-color: #fcf8e3;
  border-top: 1px solid #faebcc;
  border-bottom: 1px solid #faebcc;
  color: #8a6d3b;
  padding: 10px;
}
