  <div class="push"></div>
  <footer class="fixed-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 social" align="left">
        <nav>
          <ul>
            <li><a href="/help">Help</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
