<header>
  <div class="container-fluid">
    <nav class="navbar  navbar-light bg-light">
        <a href="/" class="navbar-brand">Solace</a>
        <ul class="nav">
          <li class="nav-item"><a class="nav-link" href="/reports/">Reports</a></li>
          <li class="nav-item"><a class="nav-link" href="/clients/">Clients</a></li>
          <li class="nav-item"><a class="nav-link" href="/stats/">Stats</a></li>
        </ul>

{% if user.is_authenticated %}
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">

      <li class="nav-item dropdown">
        <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" data-toggle="dropdown">
          {{user}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
          <a class="dropdown-item" href="/profile/"><span class="glyphicon glyphicon-user"></span> My Profile</a>
          <a class="dropdown-item" href="/settings/"><span class="glyphicon glyphicon-cog"></span> My Account Settings</a>
          <a class="dropdown-item" href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a>
        </div>
      </li>
    </ul>
{% endif %}

    </nav>
  </div>
</header>
